.heading-h1 {
  font-size: var(--font-xlg);
  text-align: center;
  font-weight: var(--font-semibold);
}

.heading-title {
  color: aliceblue;
  font-size: var(--font-md);
  text-align: center;
  font-weight: var(--font-semibold);
}
